@import "normolize";
@import url('https://fonts.googleapis.com/css2?family=League+Spartan&family=Montserrat:wght@400;600;700&display=swap');

$Mont: 'Montserrat', sans-serif;
$League: 'League Spartan', sans-serif;

* {
  box-sizing: border-box;
}

html {
  background-color: #E5E5E5;
}

body {
  font-family: 'Montserrat', sans-serif;
  font-size: 16px;
  font-weight: 400;
  color: #212121;
}

small {
  color: #8c8c8c;
  font-weight: 300;
  font-size: 12px;
}

footer {
  width: 100%;
  margin: 0 auto;
  background-color: #fafafa;
  border-top: 1px solid #eaeaea;
  border-bottom: 1px solid #eaeaea;
  overflow: hidden;
  padding: 40px 0;

  small {
    span {
      &:nth-child(1) {
        color: #0057b7;
      }

      &:nth-child(2) {
        color: #ffd700;
      }
    }
  }
}

.container {
  width: 100%;
  margin: 0 auto;
  padding: 0 16px;
  max-width: calc(1440px - 280px);
}

.button {
  padding: 14px 55px;
  border-radius: 5px;
  background: #D44646;
  display: flex;
  align-items: center;
  justify-content: center;
  max-width: fit-content;

  span {
    font-family: $League;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 127%;
    text-align: center;
    color: #FFFFFF;
  }

  &__red {
    background: #D44646;
  }

  &__blue {
    background: #005BBB;
  }
}
