$Mont: 'Montserrat', sans-serif;
$League: 'League Spartan', sans-serif;

.main {
  background: #FFFFFF;

  p{
    font-family: $League;
  }

  &__master_title {
    position: relative;
    width: auto;
    background-size: cover !important;
    overflow: hidden;
    left: 0;
    background: url("../public/donation/background_image.png") no-repeat center top;

    div {
      position: relative;
      text-align: left;
      display: block;
      width: 80%;
      margin: 100px auto;

      h1 {
        font-style: normal;
        font-weight: bold;
        font-size: 96px;
        line-height: 100.5%;
        color: #FFFFFF;
        margin-bottom: 20px;
      }

      p{
        font-style: normal;
        font-weight: normal;
        font-size: 34px;
        line-height: 127%;
        color: #FFFFFF;
      }
    }
  }

  &__container{
    position: relative;
    display: block;
    width: 80%;
    margin: auto;
    padding: 100px 0;


    &__main_content{
      margin-bottom: 65px;


      h2{
        font-style: normal;
        font-weight: bold;
        font-size: 48px;
        line-height: 120%;
        color: #212121;
        margin-bottom: 25px;
      }
      p{
        font-style: normal;
        font-weight: normal;
        font-size: 20px;
        line-height: 127%;
        color: #212121;
      }
    }
    table {

      font-family: $League;
      margin-top: -50px;

      tr {
        border-bottom: 2px solid #E6E6E6;
      }
      tr:last-child{
        border: none;
      }

      tr:last-child th:last-child{
        padding: 40px 0 100px 100px!important;
      }

      tr:last-child th{
        padding-bottom: 100px!important;
      }


      tr th {
        font-style: normal;
        font-weight: normal;
        font-size: 20px;
        text-align: left;
        line-height: 127%;
        color: #212121;
        vertical-align: middle;

      }

      //tr:first-child th{
      //  padding: 0 150px 40px 0!important;
      //}

      tr:nth-child(1n-1) th{
        padding: 40px 150px 40px 0;
      }

      tr th:last-child {
        padding: 0 0 0 100px !important;
        text-align: right;
      }
      tr th:first-child{
        font-weight: 500;
      }
    }
  }
}