.header {
  width: 100%;
  position: relative;
  padding: 31px 0;
  background: #fff;
  z-index: 5;
  &__logo {
    width: 276px;
    height: auto;
    position: relative;
  }
}


@media (max-width: 960px) {
  .header {
    padding: 12px 0;

    &__logo {
      max-width: 200px;
    }
  }
}