$Mont: 'Montserrat', sans-serif;
$League: 'League Spartan', sans-serif;

.hero {
  width: 100%;
  height: 700px;
  overflow: hidden;
  position: relative;
  display: flex;
  align-items: center;
  background: #707070;

  &__info {
    z-index: 2;
    position: relative;
    width: 100%;
    max-width: 866px;

    h1 {
      font-family: $Mont;
      font-style: normal;
      font-weight: 700;
      font-size: 151px;
      line-height: 93%;
      color: #FFFFFF;
      margin-bottom: 17px;
    }

    p {
      font-family: $League;
      max-width: 767px;
      font-style: normal;
      font-weight: normal;
      font-size: 20px;
      line-height: 127%;
      color: #FFFFFF;
      margin-bottom: 44px;
    }
  }

  &__image {
    position: absolute;
    bottom: 0;
    right: 34px;
    z-index: 3;
    width: 627px;
    height: auto;
  }

  &__bg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: 1;
  }
}

.why {
  padding: 110px 0 122px;

  &__title {
    font-style: normal;
    font-weight: bold;
    font-size: 96.8277px;
    line-height: 100.5%;
    text-align: center;
    color: #212121;
    margin-bottom: 68px;
  }

  &__info {
    max-width: 769px;
    margin: 0 auto 62px;

    p {
      font-family: $League;
      font-style: normal;
      font-weight: normal;
      font-size: 20px;
      line-height: 127%;
      text-align: center;
      color: #212121;
      margin-bottom: 30px;

      &:last-child {
        margin-bottom: 0;
      }
    }
  }

  &__big {
    max-width: 871px;
    margin: 0 auto;

    p {
      font-family: $Mont;
      font-style: normal;
      font-weight: 600;
      font-size: 33.2191px;
      line-height: 127%;
      text-align: center;
      color: #212121;
      margin-bottom: 36px;

      &:last-child {
        margin-bottom: 0;
      }
    }

    a {
      margin: 0 auto;
    }
  }
}

.images__box {
  width: 100%;
  position: relative;
  display: flex;

  &:after {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(#282828, 0.24);
    z-index: 3;
    content: '';
  }

  &_item {
    z-index: 2;
    width: 25%;
    height: 425px;
    overflow: hidden;
    position: relative;

    img {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
}


.what__can {
  position: relative;
  padding: 119px 0 138px;

  &_title {
    font-family: $Mont;
    font-style: normal;
    font-weight: bold;
    font-size: 96.8277px;
    line-height: 100.5%;
    color: #212121;
    text-align: center;
    margin-bottom: 105px;
  }

  .petition__image {
    width: 314px;
    height: auto;
    transform: translateY(40px);
    position: relative;
    right: 60px;
    margin-left: 20px;
  }

  .donate__image {
    width: 314px;
    height: auto;
    transform: translateY(40px);
    position: relative;
    right: 60px;
    margin-left: 20px;
  }

  .box__wrap {
    width: 100%;
    max-width: 570px;
  }

  .box__title {
    font-family: $Mont;
    font-style: normal;
    font-weight: 500;
    font-size: 48px;
    line-height: 100.5%;
    color: #212121;
    margin-bottom: 23px;
  }

  .box__info {
    margin-bottom: 59px;

    ul {
      margin-bottom: 12px;

      li {
        margin-left: 20px;
        margin-bottom: 4px;
        font-size: 20px;
      }
    }

    p {
      font-family: $League;
      font-style: normal;
      font-weight: 300;
      font-size: 20px;
      line-height: 127%;
      color: #212121;
      margin-bottom: 20px;

      &:last-child {
        margin-bottom: 0;
      }
    }

    small {
      font-family: $League;
      font-style: normal;
      font-weight: 600;
      font-size: 20px;
      line-height: 127%;
      color: #212121;
      padding-top: 20px;
      display: block;
    }
  }

  .email__box {
    max-width: 570px;
    padding: 40px;
    background: #fff;
    margin-right: 70px;

    p {
      font-family: $League;
      font-style: normal;
      font-weight: 300;
      font-size: 18px;
      line-height: 127%;
      color: #212121;
      margin-bottom: 16px;

      &:last-child {
        margin-bottom: 0;
      }
    }
  }

  &_petition {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &_email {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 23px;
  }

  &_donate {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 136px;

    .box__info {
      margin-bottom: 18px;
    }
  }
}

.big__image {
  position: relative;
  padding: 125px 0;

  &:after {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(#282828, 0.24);
    content: '';
    z-index: 2;
  }

  .container {
    display: flex;
    justify-content: flex-end;
    width: 100%;
    margin: 0 auto;
    padding: 0 16px;
    max-width: calc(1440px - 280px);
  }

  &_box {
    position: relative;
    z-index: 3;
    background: #fff;
    padding: 57px;
    max-width: 767px;
  }

  &_bg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: 1;
  }
}

.take__action {
  padding: 105px 0 118px;

  &_title {
    font-family: $Mont;
    font-size: 48px;
    font-style: normal;
    font-weight: 400;
    line-height: 51px;
    letter-spacing: 0em;
    text-align: center;
    margin-bottom: 32px;
  }

  &_description {
    max-width: 685px;
    margin: 0 auto 80px;

    p {
      font-family: $League;
      font-style: normal;
      font-weight: normal;
      font-size: 20px;
      line-height: 127%;
      text-align: center;
      color: #212121;
    }
  }

  &_box {
    display: flex;
    flex-wrap: wrap;
    align-items: stretch;
  }

  &_item {
    padding: 37px;
    background: #fff;
    width: calc(50% - 18px);
    margin: 0 9px 18px;
    display: flex;
    flex-direction: column;
    justify-content: center;

    a {
      font-weight: 700;
      color: #005BBB;
      font-size: 20px;
      text-decoration: none;
    }

    h5 {
      font-family: $Mont;
      font-style: normal;
      font-weight: 600;
      font-size: 18px;
      line-height: 127%;
      color: #212121;
      margin-bottom: 12px;
    }

    p {
      font-family: $League;
      font-style: normal;
      font-weight: 300;
      font-size: 18px;
      line-height: 127%;
      color: #212121;
    }
  }

  &_example {
    margin-top: 32px;

    p {
      font-family: $League;
      font-style: normal;
      font-weight: 300;
      font-size: 18px;
      line-height: 127%;
      color: #212121;
      margin-bottom: 32px;
      &:last-child {
        margin-bottom: 0;
      }

      span {
        font-weight: 700;
        color: #005BBB;
      }
    }

    .example_link {
      margin-bottom: 2px;
    }
  }
}