$Mont: 'Montserrat', sans-serif;
$League: 'League Spartan', sans-serif;

.main {
  background: #E5E5E5;
  &__full_width_container{
    width: 100%;
  }
  p{
    font-family: $League;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 127%;
    color: #212121;
  }
  h2, h3{
    font-style: normal;
    font-weight: bold;
    font-size: 48px;
    line-height: 120%;
    color: #212121;
  }

  &__intro {
    position: relative;
    width: auto;
    background-size: cover !important;
    overflow: hidden;
    left: 0;
    background: url("../public/petition/background__image.png") no-repeat center top;

    div {
      position: relative;
      text-align: left;
      display: block;
      width: 80%;
      margin: 100px auto;

      h1 {
        margin: 100px 0 40px;

        font-style: normal;
        font-weight: bold;
        font-size: 96px;
        line-height: 100.5%;
        color: #FFFFFF;
      }

      p {
        font-style: normal;
        font-weight: normal;
        font-size: 34px;
        line-height: 127%;
        color: #FFFFFF;
      }
    }
  }

  &__container {
    position: relative;
    display: block;
    width: 80%;
    margin: auto;
    padding: 90px 0;

    &__entry_content{
      width: 70%;
      text-align: center;
      margin: 0 auto 100px;

      h2 {
        margin-bottom: 25px;

        b {
          color: #015cbb;
        }
      }


      p {
        margin-bottom: 75px;
      }

      div{
        display: flex;
        justify-content: center;

        a{
          margin: 0 20px 0 0;
          padding: 14px 30px!important;
        }
      }

    }

    &__citizen{
      background: #FFFFFF;
      display: flex;
      justify-content: center;
      flex-direction: column;
      text-align: center;

      h2{
        margin: 70px 0 30px 0;
      }

      p{
        margin-bottom: 50px;
      }

      a{
        margin: 0 auto 50px;
      }
    }

    &__fraped{
      margin-bottom: 90px;
      p{
        font-weight: 600;
        color: #005BBB;
        margin: 40px 0 30px 0;
      }
      ul{ margin-bottom: 30px;
        li{
          font-style: normal;
          font-weight: normal;
          font-size: 20px;
          line-height: 127%;
          margin-bottom: 15px!important;
        }
      }
      span{
        font-style: normal;
        font-weight: 600;
        font-size: 20px;
        line-height: 127%;
        color: #212121;
      }
    }

    &__two_blocks{
      display: flex;
      margin-bottom: 90px;

      &__first{
        background: #FFFFFF;
        width: 50%;

        div{
          padding: 45px;

          span{
            font-style: normal;
            font-weight: normal;
            font-size: 18px;
            line-height: 127%;
            color: #005BBB;
          }
        }
      }
      &__second{
        width: 50%;
        margin: 80px 0 0 55px;

        h3{
          margin-bottom: 30px;
        }
         p{
           margin-bottom: 20px;
         }

        &__media{
          background: #FFFFFF;

          &__cover{
            padding: 24px 24px 25px 30px;

            span{
              font-style: normal;
              font-weight: 500;
              font-size: 20px;
              line-height: 127%;
              color: #005BBB;
              margin-bottom: 5px;
            }
            p{
              font-weight: 300;
            }
            div{
              display: flex;
              justify-content: end;

              img{

                padding-right: 20px;
              }
            }

          }
        }
      }
    }

    &__content {
      margin-bottom: 65px;


      h2 {
        margin-bottom: 25px;

        b {
          color: #015cbb;
        }
      }

      p {

        margin: 25px 0 75px;

        span{
          color: #005BBB;
          font-style: normal;
          font-weight: 600;
          font-size: 20px;
          line-height: 127%;
        }
      }
    }

    table {

      font-family: $League;
      margin-top: -50px;

      tr {
        border-bottom: 2px solid #E6E6E6;
      }

      tr:last-child {
        border: none;
      }

      tr:last-child th:last-child{
        padding: 40px 0 100px 100px!important;
      }

      tr:last-child th {
        padding-bottom: 100px !important;
      }


      tr th {
        font-style: normal;
        font-weight: normal;
        font-size: 20px;
        text-align: left;
        line-height: 127%;
        color: #212121;
        vertical-align: middle;

      }

      //tr:first-child th {
      //  padding: 0 150px 40px 0!important;
      //}

      tr:nth-child(1n-1) th {
        padding: 40px 150px 40px 0;
      }

      tr th:last-child {
        padding: 0 0 0 100px !important;
        text-align: right;
      }

      tr th:first-child {
        font-weight: 500;
      }
    }
  }
}
